@model List<ProgramViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @foreach(var program in Model)
    {
        <div>@program.Name</div>
    }


  @*  @foreach(var channel in Model)
    {
        <div>@channel.Title</div>
        @foreach (var program in channel.Programs)
        {
            <div>@program.Title</div>
            @foreach(var episode in program.Episodes)
            {
                <div>@episode.Title</div>
            }
        }
    }*@

</div>
